/**
Site: Agree;

*/

/**
 * Table of Contents
 * 1.0 - Reset CSS
 * 2.0 - General
 	* 2.1 - Colors & Fonts guide
 	* 2.2 - Buttons
 	* 2.3 - Imgs
 	* 2.4 - Headers
 	* 2.5 Global Classes
 	
 * 3.0 - Navbar
 * 4.0 - Cover
 * 5.0 - Fespi
 * 6.0 - Bla
 * 7.0 - Portfolio
 * 8.0 - Things
 * 9.0 - Contact



 * 13.0 - BTT

 * 14.0 - Responsive
 	* 14.1 - Mobile
 		* 14.1.1 - Index

		* 14.1.4 - General
 	* 14.2 - Tablet
 		* 14.2.1 - Index

		* 14.2.4 - General
 	* 14.3 - Desktop
  		* 14.3.1 - Index

		* 14.4.4 - General
 * 15.0 - Landing
 */


/* =====================
   1.0 Reset css
   ===================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #E6E7E8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	max-width: 100%;
}

html{
	font-family: 'Montserrat Regular';
}


/* =====================
    2.0 General
   ===================== */

/* 2.1 Colors & Fonts guide
------------------------
*/


/*Color reference

Background: #E6E7E8;
Red: #DF3F65;
Orange: #E25744;
Yellow: #EFCE5A;

Cyan: #2494B9;
Purple: #862BA4;
Green: #67BE9B;

Dark: #404952;

*/

/*Font reference

font-family: 'source_sans_prosemibold';
font-family: 'source_sans_proregular';
font-family: 'source_sans_prolight';
font-family: 'Montserrat UltraLight';
font-family: 'Montserrat Light';
font-family: 'Montserrat Regular';
font-family: 'Montserrat SemiBold';
font-family: 'Montserrat Bold';
font-family: 'Montserrat ExtraBold';
font-family: 'Montserrat Black';
font-family: 'GT Walsheim Pro';

*/


/* 2.2 Buttons
------------------------
*/

.btn{
	border-radius: 80px;
    padding: 6px 26px;
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    font-weight: 500;
    -webkit-transition: .3s; /* Safari */
    transition: .3s;
}

button:hover,
.btn{
	cursor: pointer;
}

.btn-primary{
	background-color: #3de9be;
	border:  solid 2px #3de9be;
	color: #2b2f3a;
}

.btn-primary:hover,
.btn-primary:active{
	background-color: transparent;
	border:  solid 2px #3de9be;
	color: #fff!important;
}

.btn-secondary{
	background-color: #fff;
	border:  solid 2px #3de9be;
	color: #2b2f3a;
}

.btn-secondary:hover,
.btn-secondary:active{
	background-color: #3de9be;
	border:  solid 2px #3de9be;

}

.btn-secondary-nb{
	background-color: #fff;
	border:  solid 2px #fff;
	color: #2b2f3a;
}

.btn-secondary-nb:hover,
.btn-secondary-nb:active{
	background-color: #2b2f3a;
	border:  solid 2px #fff;
	color: #fff;
}

.btn-alt,
.btn-alt:hover,
.btn-alt:active{
	padding: 7px 30px 7px 50px;
	background-color: #20242f;
	color: #3de9be;
}


.btn-alt i{
    position: absolute;
    left: 28px;
    top: 11px;
    -webkit-transition: .3s; /* Safari */
    transition: .3s;
}

.btn-alt:hover i,
.btn-alt:active i{
	left: 24px;
}


/* 2.3 Imgs
------------------------
*/

.imgContainer img{
	width: 100%;
	border-radius: 10px;
   	-webkit-box-shadow: 0 9px 68px 0 rgba(62,57,107,.2);
   box-shadow: 0 9px 68px 0 rgba(62,57,107,.2);
}

/* 2.4 Headers
------------------------
*/

h2 {
    font-family: 'GT Walsheim Pro';
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

h3{
	font-family: 'GT Walsheim Pro';
	margin-bottom: 10px;
	font-size: 20px;
    font-weight: 600;
}

/* 2.5 Global Classes
------------------------
*/

.d-none {
	display: none;
}

.d-grid {
	display: grid;
}

/* =====================
    4.0 Cover 
   ===================== */

.cover {
	height: 100vh;
    padding-top: 15vh;
}

.cover .eyes {
	grid-template-columns: 20% auto 20%;
}

.cover .eyes .eye {
	width: 100%;
  	padding-top: 100%; /* 1:1 Aspect Ratio */
	border-radius: 50%;
	background: linear-gradient( -45deg, #EFCE5A, #EFCE5A 49%, transparent 49%, transparent 51%, #DF3F65 51% ); 
}

.cover .mouth {
	margin-top: 10vh;
}

.cover .mouth .lips {
	width: 80%;
	margin: auto;
	padding: 2%;
    border-radius: 5px;
	background-color: #862BA4;
}

.cover .mouth .lips .tooth {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 2%;


}

.cover .mouth .lips .tooth .teeth {
	width: 100%;
	padding-top: 100%; /* 1:1 Aspect Ratio */
	background-color: #DF3F65;
}

.cover .mouth .chin {
	width: 60%;
	height: 20px;
	margin: 10px auto;
    border-radius: 5px;
	background-color: #404952;
}

/* =====================
    5.0 Fespi
   ===================== */

.fespi {
	height: 100vh;
}

.fespi h2 {
	color: #404952;
}

.fespi span {
	display: block;
	color: #404952;
	text-align: center;
}


/* =====================
    6.0 Bla
   ===================== */

.bla {
	height: 100vh;
}

.bla h3 {
	text-align: right;
	font-size: 200px;
	color: #404952;
}

.bla p {
	color: #404952;
}


/* =====================
    7.0 Portfolio
   ===================== */

/* =====================
    8.0 Things
   ===================== */

/* =====================
    9.0 Contact
   ===================== */      



/*

Background: #E6E7E8;
Red: #DF3F65;
Orange: #E25744;
Yellow: #EFCE5A;

Cyan: #2494B9;
Purple: #862BA4;
Green: #67BE9B;

Dark: #404952;

*/


/* =====================
    13.0 BTT
   ===================== */


.btt {
    display: inline;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

/* =====================
    14.0 Responsive
   ===================== */

/* 14.1 Mobile
------------------------
*/



@media screen and (max-width: 767px) {


}

@media screen and (max-width: 576px) {


}

/* 15.2 Tablet
------------------------
*/


/* 15.2.1 Index */	

@media screen and (max-width: 991px) {


}


/* 15.3 Desktop
------------------------
*/

/* 15.1.1 Index */

@media screen and (min-width: 768px) {

	
}

@media screen and (min-width: 992px) {



}

@media screen and (min-width: 1199px) {


}

@media screen and (min-width: 992px) and (max-width: 1199px) {

}